html,body{
  background: url(Photo.jpg) black ;
}
input[type=text] {
  background-color: white;
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}
.link {
  text-decoration: none;
  color: #c9d1d9;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 8px;
}
.link:hover{
  color: #F65A83;
}
li{
  list-style: none;
}